* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "TT Hoves", sans-serif;
  color: #222;
}

section {
  padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));
}

section.hello {
  padding-top: 40px;
  background-image: url("../img/htms-css-js.png");
  background-repeat: no-repeat;
  background-position: top
    calc(77px + (121 - 77) * ((100vw - 375px) / (1280 - 375))) left
    calc(193px + (827 - 193) * ((100vw - 375px) / (1280 - 375)));
  background-size: calc(179px + (395 - 179) * ((100vw - 375px) / (1280 - 375)));
}
.logo {
  height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
}
.courseInfo {
  display: flex;
  gap: 30px 160px;
  flex-wrap: wrap;
  margin-top: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
}
.courseData {
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}
.courseData .value {
  font-weight: 700;
}
h1 {
  font-family: "Chava", sans-serif;
  font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
  line-height: 100%;
}
p {
  margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 300;
  line-height: 140%;
  width: calc(328px + (930 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.cta {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}
button {
  width: 328px;
  padding: 20px 0px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 117%;
}
button.purple {
  background: #6e3aba;
  color: white;
  border: 1px solid #6e3aba;
}
button.white {
  background: white;
  color: #6e3aba;
  border: 1px solid #6e3aba;
}

h2 {
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 500;
  margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
  text-transform: uppercase;
  line-height: 117%;
}
.page2 h2 {
  width: calc(35.6vw + 194.6px);
}
.infoAbout {
  display: flex;
  flex-wrap: wrap;
  gap: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375))) 70px;
}
.speciality {
  width: calc(328px + (450 - 328) * ((100vw - 375px) / (1280 - 375)));
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}
.picture {
  width: calc(180px + (210 - 180) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: 10px;
}
.specialityName {
  font-weight: 600;
}
.specialityInfo {
  font-weight: 400;
  margin-top: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
}

.saleContainer {
  background-color: #6e3aba;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
}
h3 {
  color: white;
  font-size: calc(2vw + 26.5px);
  margin-bottom: calc(4.1vw + 4.7px);
  text-align: center;
}
.time {
  display: flex;
  gap: calc(0.3vw - 8.2px);
  margin-bottom: calc(4vw + 6px);
}
.time h2 {
  margin-bottom: 0;
}
.date,
.date2 {
  font-size: calc(13.1vw + 5.7px);
  font-family: "Chava";
  font-weight: 400;
}
.colon::after {
  content: ":";
}
.timeCard {
  display: block;
  text-align: center;
  font-size: calc(1.9vw + 3px);
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: calc(20px + (51 - 20) * ((100vw - 375px) / (1280 - 375)));
}
.infoCard {
  width: calc(328px + (399 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.infoCard img {
  width: 100%;
}
.infoBox {
  width: calc(328px + (590 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.infoBox p {
  width: calc(328px + (566 - 328) * ((100vw - 375px) / (1280 - 375)));
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 400;
  line-height: 150%;
}
h4 {
  font-size: calc(36px + (48 - 36) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 700;
  line-height: 120%;
}
.legendSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
  column-gap: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
  margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}
.skill img {
  width: 36px;
}
.skill span {
  display: block;
  margin-top: 10px;
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}

.infoText {
  display: flex;
  flex-wrap: wrap;
  gap: calc(2.4vw + 20.9px) 120px;
}
.infoText_box {
  width: calc(8vw + 298.2px);
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}
.boxName {
  font-weight: 600;
}
.boxInfo {
  font-weight: 400;
  margin-top: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
}

.SertificateBox {
  display: grid;
  grid-template-columns: 10fr 14fr;
  gap: 20px;
}
.column_1 {
  grid-row: 1 / 3;
}
.column_1 img {
  width: 100%;
}
.column_2 h2 {
  margin: 0;
  width: 100%;
}
.column_3 p {
  margin: 0;
  font-weight: 400;
  width: calc(328px + (514 - 328) * ((100vw - 375px) / (1280 - 375)));
}

.salaryBox h2 {
  width: calc(328px + (729 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.salaryBox p {
  margin-bottom: calc(20px + (36 - 20) * ((100vw - 375px) / (1280 - 375)));
  width: calc(328px + (876 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.salaryBox img {
  width: calc(328px + (1065 - 328) * ((100vw - 375px) / (1280 - 375)));
}

.studentBox {
  display: flex;
  flex-wrap: wrap;
}
.studentBoxPic img {
  width: calc(328px + (579 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.studentBoxPic img {
  width: 100%;
}
.studentBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  width: calc(328px + (500 - 328) * ((100vw - 375px) / (1280 - 375)));
  margin-top: calc(20px + (50 - 20) * ((100vw - 375px) / (1280 - 375)));
}
.studentBoxInfoCase {
  font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 400;
  line-height: 116%;
  width: 100%;
}
.frameBox {
  border: 2px solid black;
  padding: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)))
    calc(20px + (52 - 20) * ((100vw - 375px) / (1280 - 375)))
    calc(23px + (35 - 23) * ((100vw - 375px) / (1280 - 375)));
  position: relative;
}

#corner {
  width: calc(40px + (140 - 40) * ((100vw - 375px) / (1280 - 375)));
  position: absolute;
  top: -2px;
  right: -2px;
}
.frameBox h2 {
  margin: 0;
}
.lessons {
  margin-top: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(23px + (34 - 23) * ((100vw - 375px) / (1280 - 375)));
  list-style-type: none;
}
.lessons li {
  border-bottom: 1px solid #a1a1a1;
  padding: 24px 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
}
.lessons li:first-child {
  padding-top: 0;
}
.frame button {
  display: block;
  margin: 0 auto;
}
.mobile {
  display: none !important;
}

.feadbacks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.page10 h2 {
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
}
.feadback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(328px + (335 - 328) * ((100vw - 375px) / (1280 - 375)));
  padding: 50px 20px 40px;
  border-radius: 12px;
  background: #f0f7fd;
}
.feadbackText p {
  margin-top: 8px;
  font-size: 21px;
  font-weight: 400;
  line-height: 29.4px;
  width: 100%;
}
.feadbackText img {
  width: 38px;
}
.student {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
}
.student img {
  width: 72px;
  border-radius: 50%;
}
.studentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 21px;
  font-weight: 400;
}

/***** page 10 *****/
.aboutUsBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.about {
  display: flex;
  flex-direction: column;
  gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
}
.about1 {
  width: calc(328px + (440 - 328) * ((100vw - 375px) / (1280 - 375)));
}
.about2 {
  width: 100%;
}
.about1 p {
  font-size: calc(21px + (27 - 21) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 600;
  line-height: 122%;
  text-transform: uppercase;
  margin-top: 0;
  width: 100%;
}
.about2 h2 {
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 700;
  margin-bottom: 0;
  text-transform: none;
}
.about2 span {
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
}
.about1 img {
  width: 110px;
}

/***** page 10 *****/
.party h2 {
  margin-bottom: 0;
}
.party p {
  margin: 14px 0 24px;
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  line-height: 150%;
  font-weight: 400;
}
.partyPhoto {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.partyPhoto img {
  width: calc(328px + (506 - 328) * ((100vw - 375px) / (1280 - 375)));
}

/***** page 11 *****/
.theEnd {
  display: flex;
  flex-wrap: wrap;
  background: #222222;
  gap: 0 140px;
  margin-bottom: 0;
}
.theEndBox {
  display: flex;
  flex-direction: column;
}
.theEndBox h2 {
  color: #ffffff;
  margin-top: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
  width: calc(330px + (424 - 330) * ((100vw - 375px) / (1280 - 375)));
}
.theEndInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #ffffff;
}
.theEndInfoBox img {
  width: 28px;
  margin-right: 20px;
}
.theEndInfoBox span {
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  line-height: 150%;
}
.popUp2 {
  background: #ffffff;
  width: calc(327px + (475 - 327) * ((100vw - 375px) / (1280 - 375)));
  height: calc(529px + (600 - 529) * ((100vw - 375px) / (1280 - 375)));
  border-radius: 12px;
  margin-top: calc(88px + (100 - 88) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(60px + (80 - 60) * ((100vw - 375px) / (1280 - 375)));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form2 {
  width: calc(267px + (328 - 267) * ((100vw - 375px) / (1280 - 375)));
}
.form2 h4 {
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
}
.form2 input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #a1a1a1;
  outline: 0;
  background: transparent;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0;
}
.form2 button {
  margin-top: 30px;
}
#saleImg {
  width: calc(105px + (160 - 105) * ((100vw - 375px) / (1280 - 375)));
  position: absolute;
  top: -80px;
  left: -80px;
}
#p1 {
  margin-bottom: 30px;
  width: 100%;
  opacity: 1;
}
#p2 {
  font-weight: 600;
  margin-top: 40px;
}
.popUp2 p {
  width: calc(271px + (340 - 271) * ((100vw - 375px) / (1280 - 375)));
  margin-top: 10px;
  font-size: 18px;
  line-height: 21.2px;
  text-align: center;
  font-weight: 400;
  opacity: 0.5;
  line-height: 21.2px;
}
.b2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.popUp2 span {
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  text-align: center;
}

/***** page 1 всплывающее окно*****/
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popUp {
  background: #f0f7fd;
  width: calc(326px + (800 - 326) * ((100vw - 375px) / (1280 - 375)));
  height: 80vh;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.form {
  width: calc(267px + (328 - 267) * ((100vw - 375px) / (1280 - 375)));
}
.form h4 {
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
}
.form input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #a1a1a1;
  outline: 0;
  background: transparent;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0;
}
.form button {
  margin-top: 30px;
  width: 100%;
}
.thankYouPage {
  background: #222222;
  width: calc(326px + (800 - 326) * ((100vw - 375px) / (1280 - 375)));
  height: 80vh;
  border-radius: 12px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.thankYouPage h2 {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 700px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .frame button {
    margin-top: 30px;
  }
  .lessons li:last-child {
    border: 0;
    padding-bottom: 0;
  }
  .diplomBox {
    grid-template-columns: 1fr;
  }
  .column_1 {
    grid-row: 2 / 3;
  }

  .about1 p {
    text-transform: none;
  }

  #saleImg {
    top: -52px;
    left: auto;
    right: -20px;
  }
}

@media (max-width: 600px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  .frame buttons {
    margin-top: 30px;
  }

  .lessons li:last-child {
    border: 0;
    padding-bottom: 0;
  }
}

@media (((min-width: 370px) and (max-width: 750px))) {
  .diplomBox {
    grid-template-columns: 1fr;
  }
  .column_1 {
    grid-row: 2 / 3;
  }
}
